body{
	background-color: #E6E6E6;
}
aside{
	float: left;
	width: 32%;
}
div.logo{
	height: 352px;
	padding: 28px 7% 0 16%;
}
div.logo img{
	width: 100%;
    border-radius: 16%;
}
aside ul {
	padding: 0;
	margin: 0;
}
aside li.one-list{
	list-style: none;
	height: 37px;
	margin: 0 14% 0 25%;
	padding: 20px 0;
	border-top: solid 1px #BCBCB9;
}
aside li.one-list-last{
	border-bottom: solid 1px #BCBCB9;
}
aside ul li div.list-sm-menu{
	font-size: 13px;
    color: #7a3236;
    text-align: center;
}
aside ul li div.list-bg-menu{
	text-align: center;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #7a3236;
    line-height: 15px;
}
article{
	width: 68%;
	margin-left:32%; 
	padding-top: 115px;
}
article p.title{
	text-align: center;
	font-size: 38px;
	margin-bottom:0; 
}
article p.content{
	padding:0 2% 0 4.6%;
	line-height: 24px;
    font-size: 19px;
    margin-top: 10px;
    letter-spacing: 0.2px;
}