body{
	background-color: #E6E6E6;
	font-family: Georgia,Times;
}
ul li {
	list-style: none;
}
aside{
	float: left;
	width: 32%;
}
div.logo{
	height: 352px;
	padding: 28px 7% 0 16%;
}
div.logo img{
	width: 100%;
    border-radius: 16%;
}
aside ul {
	padding: 0;
	margin: 0;
}
aside li.one-list{
	list-style: none;
	height: 37px;
	margin: 0 14% 0 25%;
	padding: 20px 0;
	border-top: solid 1px #BCBCB9;
}
aside li.one-list-last{
	border-bottom: solid 1px #BCBCB9;
}
ul li div.list-sm-menu{
	font-size: 13px;
    color: #7a3236;
    text-align: center;
}
ul li div.list-bg-menu{
	text-align: center;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #7a3236;
    line-height: 15px;
}
article{
	padding-top: 115px;
	width: 68%;
	margin-left: 32%;
}
article p.title{
	text-align: center;
	font-size: 38px;
	margin-bottom:0; 
}
article p.content{
	padding:0 2% 0 4.6%;
	line-height: 24px;
    font-size: 19px;
    margin-top: 10px;
    letter-spacing: 0.2px;
}
div.decorate{
	height: 55px;
}
div.decorate div{
	float: left;
	width: 27%;
}
article hr.lf-line{
	width: 32%;
    float: left;
    margin: 17px 2% 17px 4%;
}
article span{
	font-size: 29px;
}
article hr.rg-line{
	width: 31%;
    float: left;
    margin: 17px 2% 17px 0;
}
article ul li.one-sixth{
	display: inline-block;
	width: 30.5%;
	margin-right: 3%;
	height: 291px;
}
article ul li.third-list,article ul li.last-list{
	margin-right: 0;
}
article ul li img{
	width: 100%;
	border-radius: 4%;
}

article ul{
	margin-right: 2%;
	margin-left: 4%;
	padding-left: 0;
}

div.first-name{
	margin-top: 17px;
}
.footer-lf-line{
	margin-left: 4%;
	width: 45%;
	float: left;
	margin-top: 11px;
	margin-right: 1.5%;
}
.footer-rg-line{
	width: 45%;
	float: right;
	margin-top: 11px;
}
.second-de{
	margin-top:37px; 
	height: 23px;
	padding-right: 4%;
}
footer{
	margin:10px 0 0 32%;
	padding-bottom:20px;  
}
footer p{
	text-align: center;
	margin: 0;
}
footer span{
	color: #7a3236;
	font-weight: bolder;
}