aside{
	clear: both;
	width:100%;
}
div.logo{
	width: 32%;
	padding-left:7%; 
	float: left;
	height: 289px;
}
aside ul{
	margin-left: 32%;
	padding-top: 34px;
}
article{
	margin-left: 0;
	width: 100%;
	clear: both;
	padding-top: 10px;
}
div.decorate div{
	text-align: center;
}
article ul li.one-sixth{
	/*height: 350px;*/
	width: 46.5%;
	height: 375px;
}
article ul li.third-list{
	margin-right:3%; 
}
article ul li.second-list,article ul li.four-list,article ul li.last-list{
	margin-right: 0;
}
footer{
	margin-left: 0;
}