div.logo{
	height: 117px;
	position: absolute;
	clear: both;
	margin-top: 101px;
}
ul li div.list-bg-menu{
	letter-spacing: 0;
	font-size: 17px;
}
article p.title{
	font-size: 32px;
}
div.decorate div{
	width: 48%;
}
article hr.lf-line{
	width: 22%;
}
article hr.rg-line{
	width: 22%;
}
div.logo img{
	margin: 0 69%;
}
aside{
	height: 231px;
}
aside ul {
	margin: 0 9%;
}
aside li.one-list{
	float: left;
	margin: 0 2%;
	border-bottom: solid 1px #BCBCB9;
}

article ul li.one-sixth{
	width: 63.5%;
	margin: 0 15%;
	height: 323px;
}
.footer-lf-line{
	width: 42%;
}